li {
  list-style: none;

  float: left;

  margin: 20px 0;
  padding: 30px 30px;

  font-size: 40px;
  font-weight: bold;

  width: 200px;
  height: 70px;

  border-right: 4px solid gray;
  border-top: 4px solid gray;
  border-bottom: 4px solid gray;

  text-align: center;
}

li:nth-child(6) {
  border-right: none;
}

li:last-child:hover {
  background-color: pink;
  color: white;
}

li:not(:last-child):hover {
  background-color: black;
  color: white;
}

#menu3:hover {
  background-color: initial;
  color: initial;
  animation: change 2s;
}

@keyframes change {
  from {
    background-color: rgb(202, 198, 198);
  }

  30% {
    background-color: rgb(198, 196, 196);
  }

  70% {
    background-color: gray;
  }

  to {
    background-color: rgb(106, 106, 106);
  }
}
