.box {
  width: 300px;
  height: 50%;
  border: 4px solid black;
  background-color: coral;

  margin: 50px 50px;
}

.container {
  width: 1200px;
  height: 500px;

  display: flex;

  border: 4px solid red;
  margin: 50px 50px;
}

#no1 {
  align-items: flex-start;
}

#no2 {
  align-items: flex-end;
}

#no3 {
  align-items: center;
}

#no4 {
  align-items: baseline;
}

#no5 {
  align-items: stretch;
}
